@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.header {
  height: $header-height;

  padding-inline: 116px 40px;
  background: $color-white;
  @include flex-between;
  box-shadow: 0 4px 4px rgba($color-black, 0.08);
  position: relative;
  z-index: 30;
}

.header__logo {
  display: none;
  width: 32px;
  height: auto;
}

.header__title {
  font-size: 20px;
  color: $color-black;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__help {
  @include icon-size(20px);
  cursor: pointer;
  transition: transform 125ms ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}
@media (max-width: 1020px) {
  .header {
    height: 80px;
    margin-left: 0;
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 600px) {
  .header {
    height: 80px;
    margin-left: 0;
    width: 100%;
    padding: 0 16px;
  }

  .header__logo {
    display: block;
  }

  .header__title,
  .header__help {
    display: none;
  }
}
