<div class="privacypolicy">
  <div class="headline">
    <br />
    <br />
    <br />
    <br />
    <h1 class="header-pp">Privacy Policy</h1>
    <br />
    <br />
  </div>
  <br />
  <br />
  <span style="padding-bottom: 30px">
    <H2>Data protection</H2>
    Welcome to our website! We attach great importance to protecting your personal data. Below we
    will inform you about what data is collected during your visit to our website and how it is
    used. <br />

    <br />
    <H2>Collection of personal data</H2>
    We deliberately refrain from using cookies or other tracking technologies on our website.
    Therefore, no personal data is automatically collected during your visit.

    <br />
    <br />
    <H2>Contact</H2>
    If you contact us using the contact options provided on the website, the personal data you
    provide will only be used to process your request. It will not be passed on to third parties.
    control over the content or privacy practices of these external websites. The respective
    operators are solely responsible for the data protection guidelines of these sites.
    
    <br />
    <br />
    <H2>Data security</H2>
    We use technical and organizational measures to protect your data from unauthorized access, loss
    or misuse. Our security measures are continuously improved in line with technological
    developments.
    
    <br />
    <br />
    <H2>Right of providing information</H2>
    You have the right to receive information about the personal data we store. If necessary or if
    you have any questions about the processing of your data, please contact us using the contact
    details provided on the website.
    
    <br />
    <br />
    <H2>Changes to the privacy policy</H2>
    We reserve the right to update this privacy policy if necessary to adapt it to legal
    requirements or to implement changes to our services. You can find the current version on our
    website. As of: Mai 01, 2026 Thank you for your trust and your visit to our website!
  </span>
</div>
