<section class="contacts">
  <div class="contact-list" [class.d-none-mobile]="showMobileDetails">
    <div class="contact-button">
      <button class="primary-button" (click)="openAddContact()">
        Add new contact
        <app-svg-db name="person-add"></app-svg-db>
      </button>
    </div>

    @for (user of demoDB.contacts(); track user; let i = $index) {
      @if (
        i === 0 || user.name[0].toUpperCase() !== demoDB.contacts()[i - 1].name[0].toUpperCase()
      ) {
        <div class="letter-separator">
          {{ user.name[0].toUpperCase() }}
        </div>
      }
      <div
        [class.selected-contact]="selectedUser == user"
        (click)="showDetails(user)"
        class="contact-info"
      >
        <p class="user-badge" [style.backgroundColor]="userBadgeService.getColor(user.id)">
          {{ userBadgeService.getInitials(user.name) }}
        </p>
        <div class="short-info">
          <p>{{ user.name }}</p>
          <p class="contact-info-email">{{ user.email }}</p>
        </div>
      </div>
    }
  </div>
  <app-contacts-details
    [user]="selectedUser"
    (editRequest)="openEditContact()"
    (deleteRequest)="deleteContact()"
    [class.d-block-mobile]="showMobileDetails"
    (backRequest)="closeMobileDetails()"
  ></app-contacts-details>

  @if (showEditContact) {
    <app-contacts-edit [user]="selectedUser" (closeEdit)="closeEditContact()"></app-contacts-edit>
  }

  <button
    class="add-contact-fab"
    (click)="openAddContact()"
    [class.d-none-mobile]="showMobileDetails"
  >
    <app-svg-db name="person-add"></app-svg-db>
  </button>
</section>
