@use '../styles/abstracts/variables' as *;

.app-layout {
  margin-left: 232px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  // padding-inline: 96px;
  // padding-top: 110px;
  background: $color-bg;
  width: 100%;
  max-width: 100%;
  // min-height: 100vh;
}

@media (max-width: 600px) {
  .app-layout {
    margin-left: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .app-content {
    width: auto;
    max-width: 100%;
    padding-top: 48px;
    padding-bottom: 104px;
    overflow-x: hidden;
  }

}